    * {
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Rubik', sans-serif;
    }
    
    p {
        line-height: 1.4;
    }
    
    .container {
        width: 800px;
        margin: 0 auto;
    }
    
    header {
        width: 100%;
        margin: 30px 0;
        border-bottom: 1px dashed black;
    }
    
    .nav-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0;
    }
    
    nav a {
        text-decoration: none;
        color: black;
    }
    
    nav a:hover {
        transform: scale(1.2);
    }
    
    nav a:last-child {
        margin-right: 50px;
    }
    
    .header-img-container {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }
    
    .header-img {
        width: 100%;
        height: 100%;
    }
    
    .blog-header-content {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .main-content {
        width: 100%;
    }
    
    .main-content-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 250px;
        border-bottom: 1px dashed black;
        margin: 30px 0 25px 0;
    }
    
    .main-content-text {
        width: 50%;
    }
    
    .main-content-img {
        height: 200px;
        width: 300px;
    }
    
    .main-content-img img {
        max-height: 100%;
        max-width: 100%;
    }
    
    button {
        width: 30%;
        height: 10%;
        margin: 20px 0;
        padding: 3px;
    }
    
    footer {
        width: 100%;
        background: black;
    }
    
    footer nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 2%;
        font-size: 14px;
    }
    
    footer nav a {
        color: white;
        text-decoration: none;
    }